---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
 <! --
{% include base_path %}

#{% for post in site.teaching reversed %}
#  {% include archive-single.html %}
#{% endfor %}
-->

Office hours:
Wednesday & Friday, 10 - 12pm

**Fall 2021**
* ECON 262: Principles of Statistic II. 
Available syllabus

**Past courses**
ECON 261: Principles of Statistic I (Spring 2021, Summer 2021)

ECON 262: Principles of Statistic II (Summer 2020, Fall 2020)

Math Camp for Incoming Master's and Ph.D. students in the Economic department (Summer 2020, Summer 2021)
